@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 263.4 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 263.4 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 263.4 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 256 20% 98%;
    --secondary: 250 14.3% 95.9%;
    --secondary-foreground: 250.9 39.3% 11%;
    --muted: 250 14.3% 95.9%;
    --muted-foreground: 250 8.9% 46.1%;
    --accent: 250 14.3% 95.9%;
    --accent-foreground: 250.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 256 20% 98%;
    --border: 250 13% 91%;
    --input: 250 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.3rem;
    --border-width: 2px;
  }

  .dark {
    --background: 263.4 0% 0%;
    --foreground: 256 20% 98%;
    --card: 263.4 0% 4.1%;
    --card-foreground: 256 20% 98%;
    --popover: 263.4 0% 4.1%;
    --popover-foreground: 256 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 256 20% 98%;
    --secondary: 260 27.9% 16.9%;
    --secondary-foreground: 256 20% 98%;
    --muted: 260 27.9% 16.9%;
    --muted-foreground: 260 10.6% 64.9%;
    --accent: 260 27.9% 16.9%;
    --accent-foreground: 256 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 256 20% 98%;
    --border: 263.4 27.9% 16.9%;
    --input: 260 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.marquee-seamless .rfm-marquee {
  display: flex;
  gap: 48px;
}
